
.App {
  text-align: center;
  background: linear-gradient(90deg, #6C04F1 -24.06%, rgba(174, 78, 250, 0) 120.21%), #5B049F;
  mix-blend-mode: darken;
  border-radius: 7px;
  }

  h1 {
    background: orchid;
    color: #ffffff;
    padding: 10px;
    font-size: 28px;
    margin: 0;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 10px;
  }

.task {
  display: flex;
  padding: 5px;
  margin: 5px;
  margin-left: 39%;
  width: 300px;

  border-radius: 5px;
  justify-content: space-between;
}

.task p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color:wheat;
}

.task:hover {
  background-color: #04395e3d;
}


.task-input {
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--text);
  display: flex;
  justify-content: center;
  padding: 5px;
}

.task-input input {
  width: 200px;
  border: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
}

.task-input button {
  background-color: purple;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}
.task-done {
  background-color: #00000027;
}
.task-done :first-child{
  text-decoration: line-through;
  
}

.action-btn {
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
}
.action-btn:hover {
  background-color: #04395e3d;
  border-radius: 5px;
}





